.custom-prompt-container {
  width: 100%;
  padding: 0 20px;
}

.custom-prompt-container textarea {
  width: 100%;
  padding: 10px;
  background: #22223b;
  border: 2px solid #9a8c98;
  color: #f7f7f7;
  font-size: 12px;
  line-height: 1.5;
  height: 60px;
}

.custom-prompt-container textarea:focus {
  border-color: #f7f7f7;
  outline: none;
}
